{% extends 'page/base/index.html' %}
{% load static %}

{# page container #}
{% block container %}
	{# 1 #}
	<div class="card photo_card">
		<div class="card_text">
			<span class="card_title">Hello, World!</span>
			<p class="info">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta fuga minima molestias mollitia nulla
				perspiciatis temporibus, ullam velit voluptatum? Harum iste totam voluptates. Earum esse id illo
				sapiente sint? Amet aperiam assumenda consequatur cumque delectus dolorum enim, explicabo, impedit ipsum
				laborum maiores molestiae molestias nemo nihil nulla praesentium quibusdam quidem quo quos ratione
				repellendus repudiandae sit! Magnam, quaerat saepe.
			</p>
		</div>
		<div class="card_img_container">
			<div class="card_img round">
				<img src="{% static 'img/page/1.png' %}" alt="">
			</div>
		</div>
	</div>
	{# 2 #}
	<div class="card photo_card">
		<div class="card_text">
			<span class="card_title">Hello, World!</span>
			<p class="info">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta fuga minima molestias mollitia nulla
				perspiciatis temporibus, ullam velit voluptatum? Harum iste totam voluptates. Earum esse id illo
				sapiente sint? Amet aperiam assumenda consequatur cumque delectus dolorum enim, explicabo, impedit ipsum
				laborum maiores molestiae molestias nemo nihil nulla praesentium quibusdam quidem quo quos ratione
				repellendus repudiandae sit! Magnam, quaerat saepe.
			</p>
		</div>
		<div class="card_img_container">
			<div class="card_img round">
				<img src="{% static 'img/page/2.png' %}" alt="">
			</div>
		</div>
	</div>
	{# 3 #}
	<div class="card photo_card">
		<div class="card_text">
			<span class="card_title">Hello, World!</span>
			<p class="info">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta fuga minima molestias mollitia nulla
				perspiciatis temporibus, ullam velit voluptatum? Harum iste totam voluptates. Earum esse id illo
				sapiente sint? Amet aperiam assumenda consequatur cumque delectus dolorum enim, explicabo, impedit ipsum
				laborum maiores molestiae molestias nemo nihil nulla praesentium quibusdam quidem quo quos ratione
				repellendus repudiandae sit! Magnam, quaerat saepe.
			</p>
		</div>
		<div class="card_img_container">
			<div class="card_img round">
				<img src="{% static 'img/page/3.png' %}" alt="">
			</div>
		</div>
	</div>
{% endblock %}